.slick-track{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.slick-list{
    overflow: hidden;
    position: relative;
}
.slick-arrow{
    position: absolute;
    top: 120px;
    font-size: 0;
    width: 20px;
    height: 50px;
    border: none;
    z-index: 3;
}
.slick-prev{
    left: 0;
    background: url('../img/left-arrow.png') 0 0 / 100% no-repeat;
}
.slick-next{
    right: 0;
    background: url('../img/right-arrow.png') 0 0 / 100% no-repeat;
}

/* Точки (булиты) */
.slick-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin: 0 10px;
}

/* Элемент точки */
.slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}
/* Активная точка */
.slick-dots li.slick-active button{
    background-color: transparent;
    border: 1px solid #fff 
}